.results-img{
	width: 250px;
}

div.post{
	padding:5px;
	cursor: pointer;
}

div.post:hover{
	background-color: gray;
}

.sort-picker {
	width:100px !important;
}

.sort-picker > button{
	width:100px !important;
}