<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div id="form-panel" class="panel panel-default">
        <header class="panel-heading">
          <h4 class="panel-title">Post Details</h4>
        </header>
        <div class="panel-body">
          <form role="form" class="form-inline">
            <div class="form-group">
              <input id="title" type="text" ng-model="post.title" class="form-control" placeholder="What am I?" value="post.title">
              <input id="location" type="number" ng-model="post.location" class="form-control" placeholder="Zip Code" value="post.location">
              <input id="price" type="number" ng-model="post.price" class="form-control" placeholder="$1,000,000" value="post.price">
            </div>
          </form>
          <form role="form">
            <div class="form-group">
              <textarea id="description" class="form-control" ng-model="post.description" placeholder="Describe me!"></textarea>
            </div>
          </form>
          <form role="form">
            <div class="form-group">
              <input id="email" type="email" ng-model="post.email" class="form-control" placeholder="johnny.appleseed@example.com">
              <input id="phone" type="text" ng-model="post.phone" class="form-control" placeholder="123.456.7890">
            </div>
          </form>
        </div>
      </div><!--#form-panel-->
    </div>
    <div class="col-xs-12 col-sm-6">
      <div id="img-upload-well" class="well well-lg">
        <button id="add-img-btn" class="btn btn-lg btn-default center-block" ng-click="onSelectFile()">Select Images</button>
        <p>Select the <i class="fa fa-star fa-2x"></i> to indicate your primary photo. If you change your mind, select the <i class="fa fa-trash-o fa-2x"></i> to delete a photo.</p>
        <input id="file-input" type="file" accept="image/*" ng-model="image" onchange="angular.element(this).scope().onFileSelected(this.files)">
        <ul id="small-img-list" class="list-inline">
          <li ng-repeat="photo in post.photos">
            <img ng-src="{{photo.url}}" class="img-thumbnail" width="180" height="180"></img>
            <div class="btn-group-md center-block" role="group">
            <button type="button" ng-disabled="photo.isMain == true" class="btn btn-default" ng-click="onStarPhoto(photo)"><i ng-class="{'main-photo-icon': photo.isMain}" class="fa fa-star"></i></button>
            <button type="button" class="btn btn-default" ng-click="onDeletePhoto(photo)"><i class="fa fa-trash-o"></i></button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div><!--.row-->

  <div class="row">
    <div class="center-block">
        <button class="btn btn-lg btn-default" ng-click="onCancel()">Cancel</button>
        <button class="btn btn-lg btn-primary" ng-click="onPreview()">Preview</button>
    </div>
  </div>
</div><!--container-->