<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default" style="height: 305px">
        <header class="panel-heading">
          <h4 class="panel-title">{{post.Title}}</h4>
        </header>
        <div class="panel-body">
            <div>
              <h4>${{post.Price}}</h4>
              <p>{{post.Description}}</p>
            </div>
            <div>
              <h6>{{post.Location}}</h6>
              <h6>{{post.Email}}</h6>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <carousel style="height: 305px">
        <slide active="slide.active">
          <img src="static/resources/img/placeholder.jpeg" style="margin:auto; height:300px;">
          <div class="carousel-caption">
            <h4>Slide Demo</h4>
            <p>Description</p>
          </div>
        </slide>
        <slide>
          <img src="static/resources/img/placeholder.jpeg" style="margin:auto; height:300px">
          <div class="carousel-caption">
            <h4>Slide Demo</h4>
            <p>Description</p>
          </div>
        </slide>
      </carousel>
    </div><!--images-->
  </div><!--.row-->
  <div class="center-block">
    <button class="btn btn-md btn-default" ng-click="onBack()">
      <i class="fa fa-chevron-left" ></i>
      Back
    </button>
    <button class="btn btn-md btn-success" ng-click="onAddFavorite()" ng-disabled="isFavBtnDisabled == true">
      <i class="fa fa-star"></i>
      {{favBtnText}}
    </button>
    <button class="btn btn-md btn-danger" ng-click="onFlag()">
      <i class="fa fa-flag"></i>
      Flag
    </button>
  </div>
</div><!--container-->