<!-- index.html -->
<!DOCTYPE html>
<html ng-app="projectX" lang="en">
    <head>
      <title>Project X</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <!-- SCROLLS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.2/css/bootstrap-select.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
      <link rel="stylesheet" href="{{url_for('static', filename='resources/css/master.css')}}" />
      <!-- SPELLS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.2/js/bootstrap-select.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sprintf/1.0.3/sprintf.min.js"></script>
      <script src="{{url_for('static', filename='script.js')}}"></script>
    </head>
    <body>
      <!-- HEADER AND NAVBAR -->
      <header class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">Project X</a>
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navHeaderCollapse">
                  <ul id="nav-list" class="nav navbar-nav navbar-right center-block">
                      <li><a id="post-nav-btn" href="#createPost"><i class="fa fa-plus"></i>&nbsp;Post</a></li>
                      <li><a id="favs-nav-btn" href="#favorites"><i class="fa fa-star"></i>&nbsp;Favs</a></li>
                      <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                          <i class="fa fa-question"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                          <li class="center-block"><a href="#about">About</a></li>
                          <li class="center-block"><a href="#tips">Cool Tips</a></li>
                        </ul>
                      </li>
                  </ul>
                </div>
            </div>
      </header>
      
      <!-- MAIN CONTENT AND INJECTED VIEWS -->
      <div id="wrap">
        <div id="main" class="container-fluid">
            <!-- angular templating -->
            <!-- this is where content will be injected -->
            <div ng-view></div>

        </div>
      </div>
      <hr>
      <div id="footer">
        <div class="container-fluid center-block">
          <p class="text-muted">Copyright (c) 2015</p>
        </div>
      </div>

    </body>

</html>